# Ignore python virtual envs
backend/myenv
myenv
.venv

# Ignore environment variables
*.env

# Ignore all pth files
*.pth

# Ignore all pycache files
__pycache__

# Ignore all node_modules
node_modules

# Ignore all dist files
dist

# Ignore spotipy client cache
*.cache